<form autocomplete="off">
    {{> "dnd5e.advancement-controls"}}
    <hr>
    <div class="form-group">
        <label>{{localize "DND5E.HitDie"}}</label>
        <select name="configuration.hitDie">
            {{#select configuration.hitDie}}
                {{#each CONFIG.hitDieTypes}}
                    <option value="{{this}}">{{this}}</option>
                {{/each}}
            {{/select}}
        </select>
    </div>
</form>
